/*.container {
  max-width: 980px;
  text-align: center;
  margin: 20px auto;
}*/

h1 {
  margin-bottom: 20px;
}


#geocoding_form {
  margin: 40px auto 60px;
}

h1.logintitle {
  /*color: white;*/
}

.navbar-inverse {
  background-color: #337ab7;
  border-color: #337ab7;
}

.navbar-inverse .navbar-brand {
  color: white;
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(SanFrancisco.jpg) no-repeat;
  background-size: cover;
}

#address {
  border-radius: 3px;
}

#edit{
float:left;
}

.input-group {
  margin-left: 4%;
}

.glyphicon {
  font-size: 18px;
  z-index: 20;
  cursor: pointer;
}

.glyphicon-search{
  position: relative;
  right: 30px;
}

.current-location {
  margin-top: 30px;
}

#save-location {
  display: inline;
  margin: 10px auto;
  line-height: 1.4;
}

.current-location .glyphicon-star,
.current-location .glyphicon-star-empty {
  display: inline-block;
  margin-left: 10px;
  font-size: 22px;
  vertical-align: text-bottom;
}

.glyphicon-menu-right {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -9px;
}

.map-holder {
  max-width: 500px;
  height: 350px;
  margin: 0 auto;
  background-color: #FCFCFC;
  position: relative;
  border-radius: 2px;
}

.map-holder p {
  position: absolute;
  width: 84px;
  height: 22px;
  left: 50%;
  top: 50%;
  margin: -11px auto 0 -42px;
  font-size: 20px;
  color: #969FA8;
}

#map {
  max-width: 500px;
  height: 350px;
  margin: 0 auto;
}

.list-group {
  padding: 0 15px;
  margin-top: 50px;
}

.list-group-item {
  position: relative;
  padding: 10px 20px;
}

a.list-group-item {
  cursor: pointer;
}

.mapFilter {
  margin-left: 0;
  margin-bottom: 10px;
}

@media (min-width:992px) {

  .mapFilter {
    margin-left: 25%;
    margin-bottom: 10px;
  }

}

a.list-group-item:hover {
  background-color: #F7FBFF;
}

a.active-location {
  background-color: #EEF6FF;
}

a.active-location:hover {
  background-color: #EBF3FC;
}

a.list-group-item span.createdAt {
  display: block;
  color: #969FA8;
  z-index: -1;
}

textarea {
  width:100%;
  height:20%;
}

body {
    padding-top: 65px;
}